body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(195deg, #b900e7, #2575fc);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    color: #202124;
    line-height: 1.6;
}
.container {
    max-width: 900px;
    margin: 20px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: 6%;
}
h1 {
    text-align: center;
    color: #202124;
    font-size: 24px;
    font-weight: 300;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #fff;

}
table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
table th{
    font-weight: 600; 
    letter-spacing: 1px; 
}
button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 90%;
    border-radius: 50px;
    margin: 0;
    margin-bottom: 10px;
    justify-content: center;
}
.close-btn{
    background-color: #1750ca;
    justify-content: center;
    color: white;
}
.edit-btn {
    background-color: #1750ca;
    justify-content: center;
    color: white;
}
.edit-btn:hover {
    background-color: #2b50f3;
}
.delete-btn {
    background-color: #f84848;
    justify-content: center;
    color: white;
}
.delete-btn:hover {
    background-color: #e63030;
}
.save-btn {
    background-color: #ebb209;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #f1f3f4;
    border-radius: 50px;
    justify-content: center;
}
.save-btn:hover {
    background-color: #f39c12;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    z-index: 1000;
}

.popup input[type="text"]:focus,
.popup input[type="email"]:focus {
    border-color: #1a73e8;
    outline: none;
}

.popup form {
    display: flex;
    flex-direction: column;
}
.popup input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #1750ca;
    font-weight: 100;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.toast.show {
    opacity: 1;
}